// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'scrollbar';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~daterangepicker/daterangepicker.css';
@import '~summernote/dist/summernote.css';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~summernote/dist/summernote-bs4.css';

.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 23px;
    line-height: 1.428571429;
    border-radius: 30px;
}
