header.header{
    a{
        float: left;
        margin-top: 3%;
        margin-left: 50px;
        // color: white !important;
        font-family: "Karla",
        sans-serif;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: transparent;
    text-align: center;
    line-height: 40px;
}

header.active {
    background: #48524F !important;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    nav{
        a{
            color: white !important;
        }
    }
}

nav.navbar1{
    background-color: #48524F !important;
    line-height: 60px;
    font-size: 110%;
}

div.carousel-inner {
    img {
        width: 100%;
        height: 100%;
        padding: 100px;
        }
    }

div.footerlp{
    color: white !important;
    background-color: #48524F !important;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

div.topCarousel{
        margin-bottom: 500px;
    }

