body {

    @media (min-width: 768px) {
        padding-top: 150px;
    }

    padding-top: 100px;
    // font-family: 'Quicksand' !important;

    // font-family: Poppins;
    // font-family: "Karla",
    // sans-serif;
    // background: linear-gradient(#49524F, #49524F 50%, #FFFFFF, #FFFFFF 50%);
    background: #49524F;
    // height: 100%;
    // height: 200px;
    // width: 200px;
}

div.carousel-landing-page {
    background: linear-gradient(#49524F, #49524F 50%, #FFFFFF, #FFFFFF 50%);
}

div.news-landing-page {
    background: #49524F;
    color: #49524F;

    .link-news-landing {
        // height: 380px;
        /* [1.1] Set it as per your need */
        overflow: hidden !important;
        /* [1.2] Hide the overflowing of child elements */
    }

    /* [2] Transition property for smooth transformation of images */
    .link-news-landing img {
        transition: transform 0.5s ease;
    }

    /* [3] Finally, transforming the image when container gets hovered */
    .link-news-landing:hover img {
        // transform: scale(1.5);
        opacity: 0.5;

    }

    #landing-page-text-3 {
        h5 {
            font-size: 1.0rem;
        }

        p {
            font-size: 0.7rem;
        }
    }

    #landing-page-text-4 {
        h5 {
            font-size: 1.0rem;
        }

        p {
            font-size: 0.7rem;
        }
    }

    @media (max-width: 768px) {
        #landing-page-text-1 {
            h5 {
                font-size: 1.0rem;
            }

            p {
                font-size: 0.7rem;
            }
        }

        #landing-page-text-2 {
            h5 {
                font-size: 1.0rem;
            }

            p {
                font-size: 0.7rem;
            }
        }

    }
}

div.about-landing-page {
    background: #49524F;
}

div.product-landing-page {
    background: #FFFFFF;
    // background: linear-gradient(to bottom, #49524F 38%, #FFFFFF 0%);
    // background: linear-gradient(#49524F, #49524F 50%, #FFFFFF, #FFFFFF 50%);
}

div.product-show-landing-page {
    background: linear-gradient(#49524F, #49524F 50%, #FFFFFF, #FFFFFF 50%);
}

div.show-news {
    background: linear-gradient(#49524F, #49524F 50%, #FFFFFF, #FFFFFF 50%);
}

header.header {
    a {
        float: left;
        margin-top: 3%;
        margin-left: 50px;
        // color: white !important;
        font-family: "Karla",
            sans-serif;
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: transparent;
    text-align: center;
    line-height: 40px;
}

header.active {
    background: #48524F !important;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

    nav {
        a {
            color: white !important;
        }
    }
}

div.footerlp {
    color: white !important;
    background-color: #48524F !important;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

// .col-news {
//     height: 300px;
// }
.product-landing-page {
    background: #FFFFFF;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

// ABOUT US
i.fab.con {
    color: #48524F !important;
}

div.aboutbg {
    background: #48524F !important;
    float: right;
    line-height: 30px;
}

// .footer-landing-page{
//     background: $;
// }
.pagination-active span {
    background-color: #48524F !important;
    color: white !important;
    border-color: #48524F !important;
}

@media (min-width: 768px) {

    .carousel {
        margin-top: 0;
    }
}

/* CSS used here will be applied after bootstrap.css */
.carousel {
    margin-top: 20px;
}

#thumbcarousel {
    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item .thumb {
        width: 25%;
        cursor: pointer;
        float: left;
    }

    .item .thumb img {
        width: 100%;
        margin: 2px;
    }

    .item img {
        width: 100%;
    }

    // .carousel-inner {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-around;
    // }
}

//TAB PRODUCT CSS
.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    // color: black !important;
    background-color: transparent;
    // border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}

.ablack {
    color: #48524F !important;
}

// END OF TAB PRODUCT CSS
.show-product {
    background-color: #48524F;
}

div #card-product {

    .card {
        background-color: transparent;
    }

    .card-img-overlay {
        background: rgb(72, 82, 79);
        background: linear-gradient(0deg, rgba(72, 82, 79, 0.9626050249201243) 0%, rgba(142, 152, 149, 0.8029411593739058) 27%, rgba(142, 152, 149, 0) 57%);
        transition: 0.5s;
    }

    .card-img-overlay:hover {
        background: transparent;
        // opacity: 0;
        // background: transparent;
        // background-position: 0 50px;
        // --x: 100%;

        .card-title {
            display: none;
        }

    }

}

// .card-img-top {
//     width: 100%;
//     height: 15vw;
//     object-fit: cover;
// }
.lum-lightbox.lum-open {
    display: block;
    z-index: 9999;
}
