body {
    @media (min-width: 768px) {

        padding-top: 150px;
    }

    padding-top: 100px;

    font-family: "Karla",
    sans-serif;
    // background: linear-gradient(#49524F, #49524F 50%, #FFFFFF, #FFFFFF 50%);
    background: #49524F;
    // height: 100%;
    // height: 200px;
    // width: 200px;
}

div.carousel-landing-page {
    background: linear-gradient(#49524F, #49524F 50%, #FFFFFF, #FFFFFF 50%);
}

div.news-landing-page {
    background: #49524F;
}

div.product-landing-page {
    background: #FFFFFF;
    // background: linear-gradient(to bottom, #49524F 38%, #FFFFFF 0%);
    // background: linear-gradient(#49524F, #49524F 50%, #FFFFFF, #FFFFFF 50%);
}

div.product-show-landing-page {
    background: linear-gradient(#49524F, #49524F 50%, #FFFFFF, #FFFFFF 50%);
}

div.show-news {
    background: linear-gradient(#49524F, #49524F 50%, #FFFFFF, #FFFFFF 50%);
}



header.header {
    a {
        float: left;
        margin-top: 3%;
        margin-left: 50px;
        // color: white !important;
        font-family: "Karla",
            sans-serif;
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: transparent;
    text-align: center;
    line-height: 40px;
}

header.active {
    background: #48524F !important;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

    nav {
        a {
            color: white !important;
        }
    }
}

div.footerlp {
    color: white !important;
    background-color: #48524F !important;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

// .col-news {
//     height: 300px;
// }
.product-landing-page {
    background: #FFFFFF;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}



// ABOUT US
i.fab.con {
    color: #48524F !important;
}

div.aboutbg {
    background: #48524F !important;
    float: right;
    line-height: 30px;
}

// .footer-landing-page{
//     background: $;
// }

.pagination-active span {
    background-color: #48524F !important;
    color: white !important;
    border-color: #48524F !important;
}


@media (min-width: 768px) {

    //     /* show 3 items */
    //     .carousel-inner .active,
    //     .carousel-inner .active+.carousel-item,
    //     .carousel-inner .active+.carousel-item+.carousel-item {
    //         display: block;
    //     }

    //     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    //     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    //     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
    //         transition: none;
    //     }

    //     .carousel-inner .carousel-item-next,
    //     .carousel-inner .carousel-item-prev {
    //         position: relative;
    //         transform: translate3d(0, 0, 0);
    //     }

    //     .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    //         position: absolute;
    //         top: 0;
    //         right: -33.3333%;
    //         z-index: -1;
    //         display: block;
    //         visibility: visible;
    //     }

    //     /* left or forward direction */
    //     .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    //     .carousel-item-next.carousel-item-left+.carousel-item,
    //     .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    //     .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
    //         position: relative;
    //         transform: translate3d(-100%, 0, 0);
    //         visibility: visible;
    //     }

    //     /* farthest right hidden item must be abso position for animations */
    //     .carousel-inner .carousel-item-prev.carousel-item-right {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         z-index: -1;
    //         display: block;
    //         visibility: visible;
    //     }

    //     /* right or prev direction */
    //     .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    //     .carousel-item-prev.carousel-item-right+.carousel-item,
    //     .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    //     .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
    //         position: relative;
    //         transform: translate3d(100%, 0, 0);
    //         visibility: visible;
    //         display: block;
    //         visibility: visible;
    //     }


    .carousel {
        margin-top: 0;
    }
}

/* CSS used here will be applied after bootstrap.css */
.carousel {
    margin-top: 20px;
}

.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}

.item .thumb img {
    width: 100%;
    margin: 2px;
}

.item img {
    width: 100%;
}


//TAB PRODUCT CSS
.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: black !important;
    background-color: transparent;
    // border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}

.ablack {
    color: #48524F !important;
}

// END OF TAB PRODUCT CSS

.show-product {
    background-color: #48524F;
}




div #card-product {

    .card {
        .card-img {
            opacity: 0.8;
        }

    }

    .card:hover {
        .card-img {
            opacity: 1.0;
        }

        .card-title {
            display: none;
        }
    }
}
